/**
 * Editor-specific styles for the icon block
 */
.wp-block-pryvus-icon {
	margin: 0 auto;
}

.pryvus-icon-block {
	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 48;
	}
}
