/**
 * Frontend styles for the icon block
 */
.pryvus-icon-block {
	display: flex;
	justify-content: center;
	align-items: center;

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 48;
	}
}
